* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;

    overflow-x: hidden;
}

/* 전체 앱 */

#app {
    position: relative;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

/* 배경 이미지 */

#screen {
    width: 100%;
    height: 100%;

    object-fit: contain;

    display: block;
}

/* 버튼 */

.btn {
    position: absolute;

    background: rgba(255, 0, 0, 0.2);
    border: 2px solid red;

    cursor: pointer;
}

/* ---------------- */
/* 첫 줄 */
/* ---------------- */

/* 정형외과 */
.ortho {
    left: 3%;
    top: 44%;

    width: 20%;
    height: 8%;
}

/* 영유아검진 */
.baby {
    left: 27%;
    top: 44%;

    width: 20%;
    height: 8%;
}

/* 소아과 */
.child {
    left: 51%;
    top: 44%;

    width: 20%;
    height: 8%;
}

/* 이비인후과 */
.ent {
    left: 75%;
    top: 44%;

    width: 20%;
    height: 8%;
}

/* ---------------- */
/* 둘째 줄 */
/* ---------------- */

/* 내과 */
.internal {
    left: 3%;
    top: 57%;

    width: 20%;
    height: 8%;
}

/* 산부인과 */
.women {
    left: 27%;
    top: 57%;

    width: 20%;
    height: 8%;
}

/* 정신과 */
.mental {
    left: 51%;
    top: 57%;

    width: 20%;
    height: 8%;
}

/* 피부과 */
.skin {
    left: 75%;
    top: 57%;

    width: 20%;
    height: 8%;
}